//Created by Shivaji on 4/19/2015.
doctype html
html(lang='en')
   head
      title Bootstrap Example
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
   body
      .container
         .jumbotron
            h3 Knowledge over SMS


