
//
   Created by Shivaji on 4/19/2015.
html
   head(lang='en')
      meta(charset='UTF-8')
      title BattleHack
      // Latest compiled and minified CSS
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
   body
      .container
         .jumbotron
            h3           Knowledge over SMS
         h1
         p Welcome, #{user.firstName}
         script(async='async', src='https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=shivaji@test.com', data-button='donate', data-name='test', data-quantity='1', data-amount='1', data-currency='USD', data-shipping='0', data-tax='0', data-env='sandbox', data-return='http://www.google.com')
